
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block video -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-video-camera"></span>  VIDEOS</p>

                    <div class="block_content">
                        <iframe title="M1 Mac Mini Teardown Disassembly 2020 (M1 close-up in description)" width="255" height="300" src="https://www.youtube.com/embed/R4ArjHz4gd4?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                    </div>
                    <div class="block_content">
                        <iframe title="So sánh Camera iPhone 12 vs iPhone 11 - Hơn Thua nhờ bạn xem đánh giá" width="255" height="300" src="https://www.youtube.com/embed/pshwSIH8RNQ?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                    </div>
                </div>
                <!-- ./block video  -->
                <!-- block image -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-camera"></span>  GALLERIES</p>
                    <div class="block_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box-right">
                                    <ul class="product-list">
                                        <li class="col-sm-12">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a>
                                                    <img class="img-responsive" alt="product" style="border-radius: 15%"
                                                         src="~/Assets/Client/img/News/news1.jpg" />
                                                </a>
                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="~/Assets/Client/img/News/news1.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-12">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a>
                                                    <img class="img-responsive" alt="product" style="border-radius: 15%"
                                                         src="~/Assets/Client/img/News/news2.jpg" />
                                                </a>
                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="~/Assets/Client/img/News/news2.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./block image  -->
            </div>

            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- page heading-->
                <h2 class="page-heading">
                    <span class="page-heading-title"><span class="fa fa-newspaper-o"></span> Tin tức</span>
                </h2>
                <!-- ../page heading-->
                <ul class="blog-posts">
                    <li class="post-item">
                        <article class="entry">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="entry-thumb image-hover2">
                                        <a>
                                            <img src="images/news/news7_300x300.jpg" alt="News">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="entry-ci">
                                        <h3 class="entry-title"><a href="how-coconut-oil-may-rescue.html">How Coconut Oil May Rescue The Brain From Alzheimer’s Disease </a></h3>

                                        <div class="entry-meta-data">
                                            <span class="author">
                                                <i class="fa fa-user"></i>
                                                by: <a href="#"> Sayer Ji</a>
                                            </span>
                                            <span class="date"><i class="fa fa-calendar"></i> August 4, 2016 AT 1:30 PM </span>
                                        </div>
                                        <div class="entry-excerpt">
                                            The internet loves a good “natural cure” recovery story.  For instance, when Dr. Mary Newport, MD, dramatically reverses her husband’s symptoms of Alzheimer’s disease after...
                                        </div>
                                        <div class="entry-more">
                                            <a href="how-coconut-oil-may-rescue.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="post-item">
                        <article class="entry">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="entry-thumb image-hover2">
                                        <a>
                                            <img src="images/news/news9_300x300.jpg" alt="News">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="entry-ci">
                                        <h3 class="entry-title"><a href="here-are-your-iron-sources.html">Vegan? Here Are Your Iron Sources</a></h3>

                                        <div class="entry-meta-data">
                                            <span class="author">
                                                <i class="fa fa-user"></i>
                                                by: <a href="#"> Melissa Breyer</a>
                                            </span>
                                            <span class="date"><i class="fa fa-calendar"></i> August 3, 2016 AT 2:10 PM</span>
                                        </div>
                                        <div class="entry-excerpt">
                                            There is a lot to be said for following a vegan or vegetarian diet; an excess of iron generally isn’t one of them, particularly vegan...
                                        </div>
                                        <div class="entry-more">
                                            <a href="here-are-your-iron-sources.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="post-item">
                        <article class="entry">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="entry-thumb image-hover2">
                                        <a>
                                            <img src="images/news/news8_300x300.jpg" alt="News">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="entry-ci">
                                        <h3 class="entry-title"><a href="relaxing-yoga-poses.html">7 Relaxing Yoga Poses for Adrenal Fatigue</a></h3>

                                        <div class="entry-meta-data">
                                            <span class="author">
                                                <i class="fa fa-user"></i>
                                                by: <a href="#"> Michael Kanter</a>
                                            </span>
                                            <span class="date"><i class="fa fa-calendar"></i> August 2, 2016 AT 5:53 PM</span>
                                        </div>
                                        <div class="entry-excerpt">
                                            A common question that I’m asked by my students is, “How can I become less stressed and have more energy, without diminishing my drive and ambition for success?”...
                                        </div>
                                        <div class="entry-more">
                                            <a href="relaxing-yoga-poses.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="post-item">
                        <article class="entry">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="entry-thumb image-hover2">
                                        <a>
                                            <img src="images/news/news10_300x300.jpg" alt="News">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="entry-ci">
                                        <h3 class="entry-title"><a href="chinese-herb-for-cough.html">Apricot Kernel: Chinese Herb for Cough and Source of a Controversial Vitamin</a></h3>

                                        <div class="entry-meta-data">
                                            <span class="author">
                                                <i class="fa fa-user"></i>
                                                by: <a href="#"> Conan Milner,</a>
                                            </span>
                                            <span class="comment-count">
                                                <i class="fa fa-comment-o"></i> 33
                                            </span>
                                            <span class="date"><i class="fa fa-calendar"></i> August 1, 2016 AT 11:45 AM</span>
                                        </div>
                                        <div class="entry-excerpt">
                                            Crack open an apricot pit and you’ll find a seed that looks, smells, and tastes a lot like an almond. Apricot kernels are used to...
                                        </div>
                                        <div class="entry-more">
                                            <a href="chinese-herb-for-cough.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
                <div class="sortPagiBar">
                    <div class="bottom-pagination">
                        <nav>
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">Next &raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>

