
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .main {
        width: 100%;
        height: auto;
    }

    .box-head {
        height: auto;
        padding: 22px 0px;
        font-size: 17px;
    }

    .home-href {
        margin-right: 12px;
    }

        .home-href:hover {
            text-decoration: none;
            color: #AED47F;
        }

    .fa-chevron-right {
        width: 11px;
        height: 11px;
    }

    .category {
        margin-left: 4px;
        margin-right: 4px;
        color: #AED47F;
    }

    .bg-scroll {
        height: auto;
    }

    .cart-thead {
        height: auto;
        border: 1px solid #ebebeb;
        margin-left:0px;
        margin-right:0px;
    }

    .thead-list {
        text-align: center;
        padding: 15px 0px;
        color: #363636;
    }

    .cart-tbody {
        margin-top: 10px;
    }

    .box-product {
        border: 1px solid #ebebeb;
        height: auto;
        align-items: center;
    }

    .img-product {
        width: auto;
        height: auto;
        max-width: 120px;
        max-height: 100%;
    }

    .tbody-product {
        padding: 10px 0px;
        text-align: center;
    }

    .price {
        display: none;
    }

    .btn {
        font-size: 1.4em;
        width: 30%;
        height: 30px;
        border: none;
        background-color: #FFFFFF;
        outline: none;
        padding:0 7px;
    }

    .box-button {
        border: 1px solid #ebebeb;
        display: flex;
    }

    .text {
        width: 40%;
        border: none;
        text-align: center;
    }

    .fa-trash-alt {
        font-size:2em;
        color: #C3C3C3
    }

    .tfoot {
        text-align: right;
    }

    .money_sum {
        padding: 17px 0px;
        font-size: 1.2em;
    }

    .btn-pay {
        font-size: 1.2em;
        padding: 11px 26px;
        border: none;
        outline: none;
        background-color: #F1F1F1;
    }

        .btn-pay a {
            text-decoration: none;
        }

        .btn-pay:hover {
            cursor: pointer;
        }

    .order {
        background-color: #80BB35;
        font-size: 1.2em;
        padding: 11px 26px;
        border: none;
        outline: none;
    }

        .order a {
            text-decoration: none;
            color: white;
        }
    .box-product{
        display:flex;
        align-items:center;
    }
</style>
<div class="main" ng-controller="GioHangController">
    <div class="container">
        <div class="box-head">
            <a href="index.html" class="home-href">Trang chủ</a>
            <span class="category">
                <svg aria-hidden="true"
                     focusable="false" data-prefix="fas"
                     data-icon="chevron-right" class="svg-inline--fa
                            fa-chevron-right fa-w-10" role="img"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320
                            512">
                    <path fill="currentColor" d="M285.476
                                272.971L91.132 467.314c-9.373 9.373-24.569
                                9.373-33.941
                                0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505
                                256 34.484
                                101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373
                                24.569-9.373 33.941 0L285.475 239.03c9.373 9.372
                                9.373 24.568.001 33.941z"></path>
                </svg>
            </span>
            <span class="category">Giỏ hàng</span>
        </div>
        <div class="bg-scroll">
            <div class="cart-thead row">
                <div class="thead-list col-sm-3">Sản phẩm</div>
                <div class="thead-list col-sm-3">Thông tin sản phẩm</div>
                <div class="thead-list col-sm-2">Đơn giá</div>
                <div class="thead-list col-sm-1">Số lượng</div>
                <div class="thead-list col-sm-2">Thành tiền</div>
                <div class="thead-list col-sm-1">Xóa</div>
            </div>
            <div class="cart-tbody">
                <div class="box-product" ng-repeat="d in datacart">
                    <div class="tbody-product col-sm-3">
                        <img src="~/Assets/Client/img/product/{{d.HinhAnh}}"alt="#" class="img-product">
                    </div>
                    <div class="tbody-product col-sm-3">
                        {{d.TenDienThoai}}
                    </div>
                    <div class="tbody-product col-sm-2">
                        <span class="product-price">{{d.DonGia|number}}</span>

                    </div>
                    <div class="tbody-product col-sm-1">
                        <div class="box-button">
                            <button class="btn" ng-click="countdesc(d.MaChiTietGioHang)">-</button>
                            <input type="text" value="{{d.SoLuong}}" class="text">
                            <button class="btn" ng-click="countasc(d.MaChiTietGioHang)">+</button>
                        </div>
                    </div>
                    <div class="tbody-product col-sm-2 sum" id="money_1">{{d.DonGia*d.SoLuong|number}}</div>
                    <div class="tbody-product col-sm-1 delete">  
                        <button ng-click="deleteproduct(d.MaChiTietGioHang)"><i class="far fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
            <div class="tfoot">
                <div class="money_sum">
                    <strong class="cart-total-title ">Tổng Cộng:</strong>
                    <span class="cart-total-price " style="width:100px; ">{{tongtien|number}}</span>
                </div>

                <div>
                    <button class="btn-pay"><a href="Home/Index">Tiếp tục mua hàng</a></button>
                    <button class="order"><a href="/GioHang/ThanhToan">Tiến hành đặt hàng</a></button>
                </div>
            </div>
        </div>
    </div>
</div>