.back-add-type {
    z-index: 4;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.import-product-type {
    background-color: #F5F5F5;
    height:100vh;
}

.product-type-input {
    padding: 0px 10px;
    width: 80%;
    height: 20px;
    border-radius: 4px;
    border: none;
    outline: none;
}
.select-code {
    outline:none;
    width: 10%;
    border: none;
    border-radius: 20px;
    text-align: center;
}
tr {
    font-size: 18px;
    height: 40px;
    padding: 12px 5px;
}

.btn_add {
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0.2);
    color: white;
    border-radius: 15px;
    width: 5em;
    outline:none;
}
.btn-add {
    border: none;
    outline: none;
    background: #0069D9;
    color: white;
    border-radius: 20px;
    width: 7em;
    padding: 5px;
    margin-top: 20px;
}
.fa-plus{
    margin-right:5px;
}