*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.wrapper {
    display: flex;
    align-items: stretch;
}
.fa-mobile,
.fa-cogs,
.fa-people-carry,
.fa-file-invoice,
.fa-file-invoice-dollar,
.fa-receipt,
.fa-mobile-alt {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    background: #fafafa;
}

p {
    /*font-family: 'Poppins', sans-serif;*/
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.main{
    width:100%;
}
#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #2A3F54;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar .sidebar-header {
        padding: 10px 10px;
        background: #6d7fcc;
        /*border-bottom: 1px solid #6888e4;*/
        width: 85%;
        margin: auto;
        background-color: transparent;
    }

    #sidebar ul.components {
        padding: 10px 0;
    }

    #sidebar ul p {
        color: #fff;
        padding-bottom: 10px;
        margin-left: 20px;
        /*border-bottom: 1px solid #6888e4;*/
        width: 100%;
        margin: auto;
        background-color: transparent;
    }

    #sidebar ul li a {
        font-size: 1.1em;
        display: block;
    }


    #sidebar ul li.active > a, a[aria-expanded="true"] {
        padding: 10px;
        padding-left: 0px;
        color: #fff;
        padding-bottom: 10px;
        margin-left: 20px;
        /*border-bottom: 1px solid #6888e4;*/
        width: 90%;
        margin: auto;
        background-color: transparent;
    }

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #4e73df;
}

.sidebar-header-p {
    text-align: center;
}

.sidebar-header {
    height: 4.375rem;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 100%;
}
.sidebar-header-div{
    width:100%;
    height:100%;
}
.img-logo{
    width:100%;
    height:100%;
}
.lisst-unstyled .components {
    padding: 0;
}

.portfolio {
    padding: 10px 0px;
    list-style: none;
    color: #fff;
    padding-bottom: 10px;
    margin-left: 20px;
    /*border-bottom: 1px solid #6888e4;*/
    width: 90%;
    margin: auto;
    background-color: transparent;
}

    .portfolio:hover {
        color: #999;
        border-left: 3px solid red;
    }

#sidebar ul li.active > a:hover {
    color: #999 !important;
}

.sub-menu-item {
    list-style: none;
    padding: 10px 10px;
}

#homeSubmenu {
    padding: 0px;
    width: 85%;
    margin: auto;
    padding-top: 5px;
    border-radius: 3px;
}

.sub-menu-item > a {
    background-color: transparent;
}

.sub-menu-item {
    color: #333;
    background-color: #fff;
}

    .sub-menu-item:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .sub-menu-item:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .sub-menu-item:hover {
        background-color: #e5e5e5;
    }

.form-inline {
    flex-flow: inherit;
}

.btn-success {
    background-color: #4e73df;
    border-color: #4e73df;
}

    .btn-success:hover {
        background-color: #4e73df;
    }

.left-menu-bar {
    display: flex;
}

.right-menu-bar {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.svg-inline--fa.fa-bell {
    position: relative;
    cursor: pointer;
    margin-right:30px;
}

.navbar {
    height: 4.375rem;
    display: flex;
    justify-content: space-between;
}

#content {
    width: 100%;
}

.topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 3rem);
    margin: auto 1rem;
    display: block;
}

.user {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.btn-group-vertical > .btn, .btn-group > .btn {
    padding-right: 50px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.svg-inline--fa.fa-w-16 {
    cursor: pointer;
}

.btn-info {
    width: 50px;
}

.contain-table {
    min-height: 100vh;
}


footer.sticky-footer {
    padding: 2rem 0;
    flex-shrink: 0;
}

.table-bordered {
    background-color: #fff;
}

.header-table {
    color: #4e73df;
}


/**/
