USE [WebBanDienThoai]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 1/1/2021 1:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinh]    Script Date: 1/1/2021 1:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinh](
	[MaCauHinh] [int] IDENTITY(1,1) NOT NULL,
	[Ram] [int] NOT NULL,
	[BoNhoTrong] [int] NOT NULL,
	[Gia] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[MaDienThoai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCauHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 1/1/2021 1:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaChiTietDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [nvarchar](30) NULL,
	[MaCauHinh] [int] NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGioHang]    Script Date: 1/1/2021 1:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHang](
	[MaChiTietGioHang] [nvarchar](100) NOT NULL,
	[MaCauHinh] [int] NULL,
	[MaGioHang] [nvarchar](100) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonNhap]    Script Date: 1/1/2021 1:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonNhap](
	[MaCTHoaDonNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDonNhap] [int] NULL,
	[MaCauHinh] [int] NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHoaDonNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DienThoai]    Script Date: 1/1/2021 1:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DienThoai](
	[MaDienThoai] [int] IDENTITY(1,1) NOT NULL,
	[TenDienThoai] [nvarchar](50) NOT NULL,
	[MaLoai] [int] NULL,
	[HinhAnh] [nvarchar](40) NOT NULL,
	[KichThuocManHinh] [nvarchar](100) NOT NULL,
	[DoPhanGiai] [nvarchar](30) NOT NULL,
	[HeDieuHanh] [nvarchar](20) NOT NULL,
	[ChipXuLy] [nvarchar](50) NULL,
	[CameraSau] [nvarchar](50) NULL,
	[CameraTruoc] [nvarchar](30) NOT NULL,
	[DungLuongPin] [nvarchar](50) NOT NULL,
	[TheSim] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 1/1/2021 1:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [nvarchar](30) NOT NULL,
	[MaKhachHang] [int] NULL,
	[NgayTao] [date] NOT NULL,
	[TrangThaiDonHang] [nvarchar](30) NOT NULL,
	[TongTien] [int] NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](70) NULL,
	[SDT] [nvarchar](10) NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 1/1/2021 1:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGioHang] [nvarchar](100) NOT NULL,
	[NgayMua] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 1/1/2021 1:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[MaHoaDonNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [int] NULL,
	[TongTien] [int] NOT NULL,
	[NgayNhap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDonNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 1/1/2021 1:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](30) NOT NULL,
	[TaiKhoanDangNhap] [nvarchar](20) NOT NULL,
	[MatKhau] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](3) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[MaGioHang] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDienThoai]    Script Date: 1/1/2021 1:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDienThoai](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](30) NOT NULL,
	[XuatXu] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 1/1/2021 1:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 1/1/2021 1:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[MaTinTuc] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NULL,
	[Anh] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayDang] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([Ma], [TaiKhoan], [MatKhau]) VALUES (1, N'phamanhtuan', N'2580')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[CauHinh] ON 

INSERT [dbo].[CauHinh] ([MaCauHinh], [Ram], [BoNhoTrong], [Gia], [SoLuong], [MaDienThoai]) VALUES (6, 8, 128, 8090000, 21, 6)
INSERT [dbo].[CauHinh] ([MaCauHinh], [Ram], [BoNhoTrong], [Gia], [SoLuong], [MaDienThoai]) VALUES (7, 12, 256, 15290000, 10, 7)
INSERT [dbo].[CauHinh] ([MaCauHinh], [Ram], [BoNhoTrong], [Gia], [SoLuong], [MaDienThoai]) VALUES (8, 8, 256, 18990000, 10, 8)
SET IDENTITY_INSERT [dbo].[CauHinh] OFF
INSERT [dbo].[ChiTietGioHang] ([MaChiTietGioHang], [MaCauHinh], [MaGioHang], [SoLuong], [DonGia]) VALUES (N'GH_4_CTGH001', 6, N'GH_4', 1, 8090000)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonNhap] ON 

INSERT [dbo].[ChiTietHoaDonNhap] ([MaCTHoaDonNhap], [MaHoaDonNhap], [MaCauHinh], [SoLuong], [DonGia]) VALUES (2, 3, 7, 3, 15290000)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonNhap] OFF
SET IDENTITY_INSERT [dbo].[DienThoai] ON 

INSERT [dbo].[DienThoai] ([MaDienThoai], [TenDienThoai], [MaLoai], [HinhAnh], [KichThuocManHinh], [DoPhanGiai], [HeDieuHanh], [ChipXuLy], [CameraSau], [CameraTruoc], [DungLuongPin], [TheSim]) VALUES (6, N'Samsung Galaxy M51', 2, N'samsung/samsung_galaxyM51.jpg', N'Super AMOLED Plus, 6.7", Full HD+', N'Full HD+ (1080 x 2400 Pixels)', N'Android 10', N'Snapdragon 730 8 nhâ', N'32 MP', N'Chính 64 MP & Phụ 12 MP, 5 MP,', N'7000 mAh, có sạc nhanh', N'2 Nano SIM, Hỗ trợ 4G')
INSERT [dbo].[DienThoai] ([MaDienThoai], [TenDienThoai], [MaLoai], [HinhAnh], [KichThuocManHinh], [DoPhanGiai], [HeDieuHanh], [ChipXuLy], [CameraSau], [CameraTruoc], [DungLuongPin], [TheSim]) VALUES (7, N'Samsung Galaxy Note 10+', 2, N'samsung/samsung_galaxyNote10plus.jpg', N'Dynamic AMOLED, 6.8", Quad HD+ (2K+)', N'2K+ (1440 x 3040 Pixels)', N'Android 9 (Pie)', N'Exynos 9825 8 nhân', N'Chính 12 MP & Phụ 12 MP, 16 MP, TOF 3D', N'10 MP', N'4300 mAh, có sạc nhanh', N'2 Nano SIM (SIM 2 chung khe thẻ nhớ), Hỗ trợ 4G')
INSERT [dbo].[DienThoai] ([MaDienThoai], [TenDienThoai], [MaLoai], [HinhAnh], [KichThuocManHinh], [DoPhanGiai], [HeDieuHanh], [ChipXuLy], [CameraSau], [CameraTruoc], [DungLuongPin], [TheSim]) VALUES (8, N'Samsung Galaxy Note 20', 2, N'samsung/samsung_galaxyNote20.jpg', N'Super AMOLED Plus, 6.7", Full HD+', N'Full HD+ (1080 x 2400 Pixels)', N'Android 10', N'Exynos 990 8 nhân', N'Chính 12 MP & Phụ 64 MP, 12 MP', N'10 MP', N'4300 mAh, có sạc nhanh', N'2 Nano SIM hoặc 1 Nano SIM + 1 eSIM, Hỗ trợ 4G')
SET IDENTITY_INSERT [dbo].[DienThoai] OFF
INSERT [dbo].[GioHang] ([MaGioHang], [NgayMua]) VALUES (N'GH_4', CAST(N'2020-12-23T22:47:43.123' AS DateTime))
SET IDENTITY_INSERT [dbo].[HoaDonNhap] ON 

INSERT [dbo].[HoaDonNhap] ([MaHoaDonNhap], [MaNCC], [TongTien], [NgayNhap]) VALUES (3, 1, 45870000, CAST(N'2020-12-17T00:00:00.000' AS DateTime))
INSERT [dbo].[HoaDonNhap] ([MaHoaDonNhap], [MaNCC], [TongTien], [NgayNhap]) VALUES (8, 1, 3600000, CAST(N'2020-12-17T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[HoaDonNhap] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [TaiKhoanDangNhap], [MatKhau], [Email], [GioiTinh], [SDT], [DiaChi], [MaGioHang]) VALUES (4, N'Trần Anh Tuấn', N'tuantran', N'1234', N'tuanphamutehy@gmail.comtuanphamutehy@gmail.com', N'Nam', N'0972437439', N'24 Nguyễn Văn Linh-Thành Phố Hưng Yên', N'GH_4')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [TaiKhoanDangNhap], [MatKhau], [Email], [GioiTinh], [SDT], [DiaChi], [MaGioHang]) VALUES (5, N'Nguyễn Thị Na', N'nanguyenthi', N'1234', N'nguyennautehy@gmail.com', N'Nữ', N'0987637483', N'87 Trần Thánh Tông - Thành Phố Hưng Yên', NULL)
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [TaiKhoanDangNhap], [MatKhau], [Email], [GioiTinh], [SDT], [DiaChi], [MaGioHang]) VALUES (7, N'Nguyễn Bá Cường', N'bacuong98', N'1234', N'bacuong98@gmail.com', N'Nam', N'0862746374', N'45 Lý Thái Tổ - Thành Phố Hưng Yên', NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[LoaiDienThoai] ON 

INSERT [dbo].[LoaiDienThoai] ([MaLoai], [TenLoai], [XuatXu]) VALUES (2, N'SamSung', N'Hàn Quốc')
INSERT [dbo].[LoaiDienThoai] ([MaLoai], [TenLoai], [XuatXu]) VALUES (8, N'Vsmart', N'Việt Nam')
INSERT [dbo].[LoaiDienThoai] ([MaLoai], [TenLoai], [XuatXu]) VALUES (11, N'iPhone', N'Hoa Kỳ')
SET IDENTITY_INSERT [dbo].[LoaiDienThoai] OFF
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (1, N'Công Ty TNHH Viễn Thông Xuyên Á', N'395C Minh Phụng, P. 10, Q. 11, Tp. Hồ Chí Minh (TPHCM)', N'0396389989', N'xuyenamobile@gmail.com')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (2, N'Công Ty Viễn Thông Đức Huy', N'187A Đường 3/2, P. 11, Q. 10, Tp. Hồ Chí Minh (TPHCM)', N'0971151515', N'duchuymobile2011@gmail.com')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (3, N'Công Ty TNHH Giải Pháp CNTT Hoàn Vũ', N'265 Hoàng Hoa Thám , P. 13 , Q. Tân Bình. Tp. Hồ Chí Minh', N'0976060324', N'hvtransco@gmail.com')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

SET IDENTITY_INSERT [dbo].[TinTuc] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_taikhoan]    Script Date: 1/1/2021 1:54:53 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [unique_taikhoan] UNIQUE NONCLUSTERED 
(
	[TaiKhoanDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CauHinh]  WITH CHECK ADD FOREIGN KEY([MaDienThoai])
REFERENCES [dbo].[DienThoai] ([MaDienThoai])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaCauHinh])
REFERENCES [dbo].[CauHinh] ([MaCauHinh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD FOREIGN KEY([MaCauHinh])
REFERENCES [dbo].[CauHinh] ([MaCauHinh])
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaCauHinh])
REFERENCES [dbo].[CauHinh] ([MaCauHinh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaHoaDonNhap])
REFERENCES [dbo].[HoaDonNhap] ([MaHoaDonNhap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DienThoai]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiDienThoai] ([MaLoai])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
