.demo_changer {
    z-index: 9;
    width:40px;
}

    .demo_changer .demo-icon {
        cursor: pointer;
        height: 45px;
        width: 45px;
        text-align: center;
        line-height: 45px;
        font-size: 28px;
        color: #ff9900;
        z-index: 9;
    }

.demo_changer .form_holder p {
    color: #000000;
}
.demo_changer:hover .form_holder{
    display:block;
}
.demo_changer .form_holder {
    display:none;
    background: #fff;
    position:absolute;
    right:0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.demo_changer table.shop_table {
    /*border: 1px solid rgba(0, 0, 0, .1);*/
    margin: 0 0 20px;
    width: 100%;

}

.bt_remove_product {
    background: url(../images/delete_icon.png) center no-repeat;
    width: 15px;
    height: 16px;
    font-size: 0;
    margin-top: 2px;
    cursor: pointer;
}

.box_quantity {
    position: relative;
    width: 125px;
    float: none;
    padding-left: 30px;
}

.box_quantity .quantity {
    width: 125px;
    float: none;
    margin: 0 auto;
}

.demo_changer .box_quantity input,
.demo_changer .box_quantity select {
    background-color: #43af50;
    border: 1px solid #fff;
    padding: 0;

}


.demo_changer .bt_minus,
.demo_changer .product_qty,
.demo_changer .bt_plus {

    color: #fff;
    width: 50%;
    float: left;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    line-height: 2;
}

.demo_changer .bt_minus,
.demo_changer .bt_plus {
    width: 30px;

}

.demo_changer .product_qty {
    border-left: none;
    border-right: none;
}

.demo_changer .product-price {
    text-align: right;
    font-size: 17px;
}
.demo_changer .product-name{
    font-size: 17px;
    color: #2a2a2a;
}
.clr{
    clear: both;
}

.demo_changer .line {
    border-bottom: 1px solid #efefef;
    clear: both;
    margin: 20px !important;
    padding-bottom: 10px;
}
.demo_changer table.shop_table td {
    padding: 4px 0 12px 0;
    border-bottom: 1px solid #efefef;

}

@media only screen and (max-width: 767px) {
    .demo_changer {
        display: none;
    }
} 



