
@{
    ViewBag.Title = "AddPhone";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="back-add-type" ng-controller="AddPhone">
        <div class="import-product-type col-lg-12">
            <table style="width:100%;text-align:center">
                <tr class="row-list">
                    <td>Thông tin</td>
                    <td><a href="/Admin/ManagerPhone/ManagerPhone">Quay lại</a></td>
                </tr>
                <tr class="row-list">
                    <td class="lable-product-type">Tên điện thoại</td>
                    <td>
                        <input type="text" class="product-type-input" ng-model="TenDienThoai">
                    </td>
                </tr>
                <tr class="row-list">
                    <td class="lable-product-type">Mã loại</td>
                    <td>
                        <select style="outline: none; border: none; border-radius: 5px; width: 50px;" ng-model="MaLoai">
                            <option ng-repeat="e in regdata" value="{{e.MaLoai}}" title="{{e.TenLoai}}">{{e.MaLoai}}</option>
                        </select>
                    </td>
                </tr>
                <tr class="row-list">
                    <td class="lable-product-type">Hình ảnh</td>
                    <td>
                        <input type="file" id="anh"  accept="image/*"ng-model="HinhAnh" onchange="loadFile(event)">
                        <img id="output" style="width:160px" />                       
                    </td>
                </tr>
                <tr class="row-list">
                    <td class="lable-product-type">Kích thước màn hình</td>
                    <td>
                        <input type="text" class="product-type-input" ng-model="KichThuocManHinh">
                    </td>
                </tr>
                <tr class="row-list">
                    <td class="lable-product-type">Độ phân giải</td>
                    <td>
                        <input type="text" class="product-type-input" ng-model="DoPhanGiai">
                    </td>
                </tr>
                <tr class="row-list">
                    <td class="lable-product-type">Hệ điều hành</td>
                    <td>
                        <input type="text" class="product-type-input" ng-model="HeDieuHanh">
                    </td>
                </tr>
                <tr class="row-list">
                    <td class="lable-product-type">Chip xử lý</td>
                    <td>
                        <input type="text" class="product-type-input" ng-model="ChipXuLy">
                    </td>
                </tr>
                <tr class="row-list">
                    <td class="lable-product-type">Camera trước</td>
                    <td>
                        <input type="text" class="product-type-input" ng-model="CameraTruoc">
                    </td>
                </tr>
                <tr class="row-list">
                    <td class="lable-product-type">Camera sau</td>
                    <td>
                        <input type="text" class="product-type-input" ng-model="CameraSau">
                    </td>
                </tr>
                <tr class="row-list">
                    <td class="lable-product-type">Dung lượng pin</td>
                    <td>
                        <input type="text" class="product-type-input" ng-model="DungLuongPin">
                    </td>
                </tr>
                <tr class="row-list">
                    <td class="lable-product-type">Thẻ sim</td>
                    <td>
                        <input type="text" class="product-type-input" ng-model="TheSim">
                    </td>
                </tr>
                <tr>
                    <td><button ng-click="savedata()" class="btn-add">Thêm</button></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <script>

        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>
</body>

</html>

