
@{
    ViewBag.Title = "UpdatePhone";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="back-add-type" ng-controller="UpdatePhone" data-ng-init="LoadPhone(@Convert.ToInt32(Request.QueryString["id"]))">
    <div class="import-product-type col-lg-12">
        <table style="width:100%;text-align:center">
            <tr class="row-list">
                <td>Thông tin</td>
                <td><a href="/Admin/ManagerPhone/ManagerPhone">Quay lại</a></td>
            </tr>
            <tr class="row-list">
                <td class="lable-product-type">Tên điện thoại</td>
                <td>
                    <input type="text" class="product-type-input" ng-model="Phone.TenDienThoai">
                </td>
            </tr>
            <tr class="row-list">
                <td class="lable-product-type">Mã loại</td>
                <td>
                    <input type="text" class="product-type-input" ng-model="Phone.MaLoai" readonly>
                </td>
            </tr>
            <tr class="row-list">
                <td class="lable-product-type">Hình ảnh</td>
                <td>
                    <input type="text" class="" ng-model="Phone.HinhAnh">
                </td>
            </tr>
            <tr class="row-list">
                <td class="lable-product-type">Kích thước màn hình</td>
                <td>
                    <input type="text" class="product-type-input" ng-model="Phone.KichThuocManHinh">
                </td>
            </tr>
            <tr class="row-list">
                <td class="lable-product-type">Độ phân giải</td>
                <td>
                    <input type="text" class="product-type-input" ng-model="Phone.DoPhanGiai">
                </td>
            </tr>
            <tr class="row-list">
                <td class="lable-product-type">Hệ điều hành</td>
                <td>
                    <input type="text" class="product-type-input" ng-model="Phone.HeDieuHanh">
                </td>
            </tr>
            <tr class="row-list">
                <td class="lable-product-type">Chip xử lý</td>
                <td>
                    <input type="text" class="product-type-input" ng-model="Phone.ChipXuLy">
                </td>
            </tr>
            <tr class="row-list">
                <td class="lable-product-type">Camera trước</td>
                <td>
                    <input type="text" class="product-type-input" ng-model="Phone.CameraTruoc">
                </td>
            </tr>
            <tr class="row-list">
                <td class="lable-product-type">Camera sau</td>
                <td>
                    <input type="text" class="product-type-input" ng-model="Phone.CameraSau">
                </td>
            </tr>
            <tr class="row-list">
                <td class="lable-product-type">Dung lượng pin</td>
                <td>
                    <input type="text" class="product-type-input" ng-model="Phone.DungLuongPin">
                </td>
            </tr>
            <tr class="row-list">
                <td class="lable-product-type">Thẻ sim</td>
                <td>
                    <input type="text" class="product-type-input" ng-model="Phone.TheSim">
                </td>
            </tr>
            <tr>
                <td><button ng-click="updatephone()" class="btn-add">Cập nhật</button></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>



