
@{
    ViewBag.Title = "UpdateConfiguration";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="back-add-type" ng-controller="ConfigurationController" data-ng-init="LoadConfiguration(@Convert.ToInt32(Request.QueryString["id"]))">
    <div class="import-product-type">
        <table style="width:100%;text-align:center">
            <tr class="row-list">
                <td>Thông tin</td>
                <td><a href="/Admin/ManagerConfiguration/Index">Quay lại</a></td>
            </tr>
            <tr class="row-list">
                <td class="lable-product-type">Ram</td>
                <td>
                    <input type="text" class="product-type-input" ng-model="dataconfi.Ram">
                </td>
            </tr>
            <tr class="row-list">
                <td class="lable-product-type">Bộ nhớ trong</td>
                <td>
                    <input type="text" class="product-type-input" ng-model="dataconfi.BoNhoTrong">
                </td>
            </tr>
            <tr class="row-list">
                <td class="lable-product-type">Giá</td>
                <td>
                    <input type="text" class="product-type-input" ng-model="dataconfi.Gia">
                </td>
            </tr>
            <tr class="row-list">
                <td class="lable-product-type">Số lượng</td>
                <td>
                    <input type="text" class="product-type-input" ng-model="dataconfi.SoLuong">
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn-add" ng-click="updateConfiguration()" >Cập nhật</button>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

