
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/reset.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/lib/bootstrap/css/bootstrap.min.css" />
    @*<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />*@
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/lib/font-awesome/css/font-awesome.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/lib/select2/css/select2.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/lib/jquery.bxslider/jquery.bxslider.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/lib/owl.carousel/owl.carousel.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/lib/jquery-ui/jquery-ui.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/lib/fancyBox/source/jquery.fancybox.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/animate.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/style.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/green.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/responsive.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/style_frm_dkdn.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" href="~/Assets/Client/css/switcher.css">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Assets/Client/script/AngularController/HomeController.js"></script>
    <!--Search-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Assets/Client/script/AngularController/BaseController.js"></script>
    <!--===============================================================================================-->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@

    <!-- jQuery library -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <!-- Latest compiled JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <link rel="icon" href="~/Assets/Client/img/All/favicons.png" type="image/x-icon">
    <title>anhtuanmobile.com</title>
</head>
<body class="green" ng-app="Homeapp">
    <!-- HEADER -->
    <div id="header" class="header">
        <!-- MAIN HEADER -->
        <div class="container main-header">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 logo">
                    <a href="/Home/Index">
                        <img src="~/Assets/Client/img/All/anhtuanmobile_free-file.png" />
                    </a>

                </div>
                <div class="col-xs-4 col-sm-12 col-md-5 col-lg-5 header-search-box">
                    <form class="form-inline">
                        <div class="form-group input-serach">
                            <input type="text" placeholder="Search ..." id="#txtKeyWord" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                        </div>
                        <button type="submit" class="pull-right btn-search"><i class="fa fa-search"></i></button>
                    </form>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 group-button-header">
                    <div style="color: #FF9900;padding:0px 10px;margin-left:auto">
                        Đăng ký
                    </div>
                    <div style="border-right: 1px solid #F6402E;height: 2rem">

                    </div>
                    <div class="" id="cart-block" style="padding: 0px 10px;">
                        <a title="SignIn" style="color: #FF9900" href="/KhachHang/Login">Đăng nhập</a>
                        <div class="navbar_username">@Session["User_Client"]</div>
                    </div>
                    <div style="border-right: 1px solid #F6402E;height: 2rem">

                    </div>
                    <a title="My wishlist" href="#" class="">
                        <div class="demo_changer" id="demo_changer">
                            <div class="demo-icon fa fa-shopping-cart">
                                <span class="notify notify-left" id="count-cart">2</span>
                            </div>
                            <div class="form_holder">
                                <div class="cart-block">
                                    <div class="cart-block-content">
                                        <div class="cart-block-list">
                                            <div class="shop_cart">
                                                <table class="shop_table">
                                                    <tbody id="show-cart">
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <div class="toal-cart">
                                            <span>Total</span>
                                            <span class="toal-price pull-right" id="total_price">54,000đ</span>
                                        </div>
                                        <div class="cart-buttons">
                                            <a href="shoping-cart.html" class="btn-check-out">Payment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- END MANIN HEADER -->
        <div id="nav-top-menu" class="nav-top-menu">
            <div class="container">
                <div class="row">

                    <div id="main-menu" class="col-sm-12 main-menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <a class="navbar-brand" href="#">MENU</a>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse" ng-controller="HomeClient">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="/Home/Index"><span class="fa fa-home"></span> Trang chủ</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle"
                                               data-toggle="dropdown">Loại sản phẩm</a>
                                            <ul class="dropdown-menu container-fluid">
                                                <li class="block-container">
                                                    <ul class="block" ng-repeat="e in regdata">
                                                        <li class="link_container"><a href="/LoaiDienThoai/Index?maloai={{e.MaLoai}}">{{e.TenLoai}}</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="/Home/News">Tin tức</a></li>
                                        <li><a href="about-us.html">Về chúng tôi</a></li>
                                        <li><a href="/Home/Contact">Liên hệ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- userinfo on top-->
                <div id="form-search-opntop">
                </div>
                <!-- userinfo on top-->
                <div id="user-info-opntop">
                </div>
                <!-- CART ICON ON MMENU -->
                <div id="shopping-cart-box-ontop">
                    <i class="fa fa-user" data-toggle="modal" data-target="#myModal"></i>

                    <div class="shopping-cart-box-ontop-content"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->



    @RenderBody()
    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <!-- introduce-box -->
            <div id="introduce-box" class="row">
                <div class="col-md-3">
                    <div id="address-box">
                        <a href="/Home/Index">
                            <img src="~/Assets/Client/img/All/anhtuanmobile_free-file.png" />
                        </a>
                        <div id="address-list">
                            <div class="tit-name">Địa chỉ:</div>
                            <div class="tit-contain">999 Le Van Hien street, Ngu Hanh Son District, Danang city, Vietnam.</div>
                            <div class="tit-name">Phone:</div>
                            <div class="tit-contain">(+84) 962.4372.05</div>
                            <div class="tit-name">Email:</div>
                            <div class="tit-contain">anhtuanmobile@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="introduce-title">CHĂM SÓC KHÁCH HÀNG</div>
                            <ul id="introduce-support" class="introduce-list">
                                <li> Thứ Hai - Thứ Sáu: 7 giờ sáng đến 8 giờ tối </li>
                                <li>T7 & CN: 7 giờ sáng đến 6 giờ chiều</li>
                                <li><a href="policy-faq.html">Mua thế nào</a></li>
                                <li><a href="policy-faq.html">Cách thanh toán</a></li>
                                <li><a href="policy-faq.html">FAQ</a></li>
                        </div>
                        <div class="col-sm-6">
                            <div class="introduce-title">Chính sách</div>
                            <ul id="introduce-Account" class="introduce-list">
                                <li><a href="policy-faq.html">Chính sách bảo mật</a></li>
                                <li><a href="policy-faq.html">Chính sách thanh toán</a></li>
                                <li><a href="policy-faq.html">Chính sách đổi trả</a></li>
                                <li><a href="policy-faq.html">Điều khoản và điều kiện</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div id="contact-box">
                        <div class="introduce-title">Đăng ký nhận bản tin của Anhtuanmobile</div>
                        <div class="input-group" id="mail-box">
                            <input type="text" placeholder="Địa chỉ email của bạn" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">OK</button>
                            </span>
                        </div><!-- /input-group -->
                        <div class="introduce-title">Theo dõi chúng tôi</div>
                        <div class="social-link">
                            <ul class="social-icons">
                                <li><a class="rss" data-original-title="rss" href="#"></a></li>
                                <li><a class="facebook" data-original-title="facebook" href="#"></a></li>
                                <li><a class="twitter" data-original-title="twitter" href="#"></a></li>
                                <li><a class="googleplus" data-original-title="googleplus" href="#"></a></li>
                                <li><a class="linkedin" data-original-title="linkedin" href="#"></a></li>
                                <li><a class="youtube" data-original-title="youtube" href="#"></a></li>
                                <li><a class="vimeo" data-original-title="vimeo" href="#"></a></li>
                                <li><a class="skype" data-original-title="skype" href="#"></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div><!-- /#introduce-box -->


            <div id="footer-menu-box">
                <p class="text-center">Copyrights &#169; 2016 Eco Shop. All Rights Reserved.</p>
            </div><!-- /#footer-menu-box -->
        </div>
    </footer>

    <a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
    <!-- Script-->
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Assets/Client/lib/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/Assets/Client/lib/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/Assets/Client/lib/fancyBox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/Assets/Client/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/Client/lib/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="~/Assets/Client/lib/jquery.bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="~/Assets/Client/lib/owl.carousel/owl.carousel.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    @*<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
    <!--===============================================================================================-->

    <script src="~/Assets/Client/script/jquery.actual.min.js"></script>
    <script src="~/Assets/Client/script/theme-script.js"></script>
    <script src="~/Assets/Client/script/shoppingCart.js"></script>
    <script src="~/Assets/Client/script/layout.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            Layout.init();
            Layout.initOWL();
            Layout.initTwitter();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initUniform();
            Layout.initSliderRange();
        });

    </script>
    <!--===============================================================================================-->
</body>

</html>
